@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: flex;      
    background-color: #0d67b6;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;    
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: whitesmoke;
    color: blue;
}

.logo {
width: 100px;
border-radius: 50%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

body {
    background-color: whitesmoke;
    color: #0d67d5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-div{
    margin-top: 50px;
    padding: 0 20px;
}

.home-title {
    text-align: center;
}

.home-title p {
    padding: 0 20px;
}

.home-div{
    margin-top: 50px;
    padding: 0 20px;
    justify-content: center;
}

.portfolio-title p {
    padding: 0 20px;
    margin-top: 50px;
}

footer {
    background-color: #0d67b6;
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: blue;    
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social  img {
    padding-top: 15px;
}

.info {
    display: flex;
    justify-content: center;
}

.home-img {
    max-width: 40%;
    margin: 0 20px;   
}

.portfolio-img {
    max-width: 30%;
    margin: 0 20px;   
}